/*doc
---
title: Fieldsets
name: fieldsets
category: Forms
---
```html_example
<fieldset>
  <legend>Form Title</legend>
  <div class="form-group">
      <input type="text" name="" placeholder="Text input" id="">
  </div>
  <div class="form-group">
      <input type="password" name="" placeholder="Password input" id="">
  </div>
  <div class="form-group">
      <textarea placeholder="Textarea"></textarea>
  </div>
  <div class="form-group">
      <select name="" id="">
        <option value="">Lorem ipsum dolor.</option>
        <option value="">Totam, ratione, vero.</option>
        <option value="">Incidunt, laborum, fugiat.</option>
        <option value="">Quos obcaecati, accusantium!</option>
        <option value="">Nesciunt temporibus, quo.</option>
        <option value="">Molestiae perferendis, quas?</option>
        <option value="">Kire, rerum, et!</option>
        <option value="">Doloremque, fuga, quis.</option>
        <option value="">Nobis iste, corporis?</option>
        <option value="">Animi at, nihil.</option>
        <option value="">Magnam, accusamus, necessitatibus.</option>
        <option value="">Ex, ab, reprehenderit.</option>
      </select>
  </div>
  <div class="form-group">
  	<div class="checkbox">
  		<label><input type="checkbox"> Checkbox Label</label>
  	</div>
  </div>
  <div class="form-group">
  	<div class="radio">
  		<label><input type="radio"> Radio Label</label>
  	</div>
  </div>
</fieldset>
```
*/

fieldset {
	border-top: 1px dashed darker(base);
	padding: 1em 0;
}

legend {
	display: inline-block;
	width: auto;
	padding: 0 1em 0 0;
	margin-bottom: 0;
	font-size: 14px;
	// font-weight: bold;
	text-transform: uppercase;
	border-bottom: none;
}

/*doc
---
title: Labels
name: labels
category: Forms
---
```html_example
<fieldset>
  <legend>Form Title</legend>
  <div class="form-group cm-form-group">
      <label class="cm-form-label">Label Example</label>
      <input type="text" class="form-control cm-form-control" name="" placeholder="Text input" id="">
      <div class="cm-form-help">Nullam sagittis, orci sed mollis semper, turpis risus accumsan nunc.</div>
  </div>
  <div class="form-group cm-form-group">
      <label class="cm-form-label">Label Example</label>
      <input type="password" class="form-control cm-form-control" name="" placeholder="Password input" id="">
      <div class="cm-form-help">Ut porttitor ac enim quis varius. Nullam dictum, massa quis tincidunt laoreet, mauris orci interdum dolor, vel scelerisque felis nibh in diam.</div>
  </div>
  <div class="form-group cm-form-group">
      <label class="cm-form-label">Label Example</label>
      <textarea class="form-control cm-form-control" placeholder="Textarea"></textarea>
      <div class="cm-form-help">Dicta reprehenderit nobis provident laborum deserunt rerum vitae a nisi minus</div>
  </div>
  <div class="form-group cm-form-group">
      <label class="cm-form-label">Label Example</label>
      <select class="form-control cm-form-control" name="" id="">
        <option value="">Lorem ipsum dolor.</option>
        <option value="">Totam, ratione, vero.</option>
        <option value="">Incidunt, laborum, fugiat.</option>
        <option value="">Quos obcaecati, accusantium!</option>
        <option value="">Nesciunt temporibus, quo.</option>
        <option value="">Molestiae perferendis, quas?</option>
        <option value="">Kire, rerum, et!</option>
        <option value="">Doloremque, fuga, quis.</option>
        <option value="">Nobis iste, corporis?</option>
        <option value="">Animi at, nihil.</option>
        <option value="">Magnam, accusamus, necessitatibus.</option>
        <option value="">Ex, ab, reprehenderit.</option>
      </select>
      <div class="cm-form-help">Ut consequat quam hendrerit metus interdum laoreet. Morbi at risus quis ligula tincidunt eleifend.</div>
  </div>
</fieldset>
```
*/