/*doc
---
title: Inputs
name: inputs
category: Forms
---
```html_example
<input type="text" name="" placeholder="Text input" id="">
<input type="password" name="" placeholder="Password input" id="">
<textarea placeholder="Textarea"></textarea>
<select name="" id="">
  <option value="">Lorem ipsum dolor.</option>
  <option value="">Totam, ratione, vero.</option>
  <option value="">Incidunt, laborum, fugiat.</option>
  <option value="">Quos obcaecati, accusantium!</option>
  <option value="">Nesciunt temporibus, quo.</option>
  <option value="">Molestiae perferendis, quas?</option>
  <option value="">Kire, rerum, et!</option>
  <option value="">Doloremque, fuga, quis.</option>
  <option value="">Nobis iste, corporis?</option>
  <option value="">Animi at, nihil.</option>
  <option value="">Magnam, accusamus, necessitatibus.</option>
  <option value="">Ex, ab, reprehenderit.</option>
</select>
```
*/

$input-types: "text", "password", "number", "email", "date", "tel";

%input {
	background: #fff;
//	border: 1px solid darken($color-base, 10%);
padding: 1em !important;
vertical-align: middle;
width: 100%;

&:focus {
  outline: none;
}
}

input.active-floatlabel {
	padding-top: 1.8em !important;
}

.label-floatlabel {
	left: 1.4em !important;
}

@each $input in $input-types {
	input[type=#{$input}] {
		@extend .form-control;
	}
}

@mixin placeholder() {
	font-style: italic;
}

[placeholder]::-webkit-input-placeholder {
	@include placeholder();
}
[placeholder]::-moz-placeholder {
	@include placeholder();
}
[placeholder]:-moz-placeholder {
	@include placeholder();
}
[placeholder]:-ms-input-placeholder {
	@include placeholder();
}

select,
textarea {
	@extend .form-control;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  font-size: inherit;
  display: inline-block;
}
