#container {
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 0;
  -webkit-column-gap: 0;
}
.box {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  padding: 5px;
}
.card {
  padding: 10px;
  border-radius: 10px;
}