//@include web-fonts(($font-secondary-google)); // Headings
//@include web-fonts(($font-primary-google)); // Text

html, body {height: 100%;}
body {
	font-family: $font-family-primary;
	color: $color-text;
	font-size: 90%;
	line-height: 1.5em;
  overflow-x: hidden;
}

/*doc
---
title: Links
name: links
category: Basics
---
<p>
  Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Voluptatibus obcaecati molestias necessitatibus, aliquam <a href="#">provident repellendus</a> enim vel? Perferendis nobis eaque, pariatur temporibus, ex debitis harum, vero ipsam aliquam sunt magni.
</p>

*/

/*doc
---
title: Headings
name: headings
category: Basics
---
<h1>H1: Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
<h2>H2: Suscipit reiciendis quidem aliquam quos saepe. Repellendus!</h2>
<h3>H3: Beatae totam atque inventore, nobis fugiat quo!</h3>
<h4>H4: Facere velit unde cupiditate beatae! Molestias, cum.</h4>
<h5>H5: Deleniti, distinctio impedit accusamus provident eligendi nostrum.</h5>
<h6>H6: Mollitia nihil odio voluptatibus voluptas earum libero.</h6>
<h1><a href="#">H1: Lorem ipsum dolor sit amet, consectetur adipisicing.</a></h1>
<h2><a href="#">H2: Ratione assumenda, doloremque cupiditate labore velit harum.</a></h2>
<h3><a href="#">H3: Dignissimos impedit mollitia sequi, ipsam, obcaecati est.</a></h3>
<h4><a href="#">H4: Illo ducimus soluta, possimus voluptatibus id quas.</a></h4>
<h5><a href="#">H5: Nesciunt officiis nisi dignissimos, culpa aliquam, eaque.</a></h5>
<h6><a href="#">H6: Eveniet doloremque officiis maxime eos veritatis, modi.</a></h6>

*/

/*doc
---
title: Lists
name: lists
category: Basics
---
<h2>Unordered</h2>
<ul>
  <li>Lorem ipsum dolor.</li>
  <li>Necessitatibus, ipsam, a.</li>
  <li>Sunt, sit placeat?</li>
  <li>
    Delectus, distinctio, quidem!
    <ul>
      <li>Lorem ipsum dolor.</li>
      <li>Dolorem, tempora error!</li>
      <li>Reprehenderit, optio, aut.</li>
      <li>Voluptate, quasi, illo!
	    <ul>
	      <li>Lorem ipsum dolor.</li>
	      <li>Dolorem, tempora error!</li>
	      <li>Doloremque, qui enim.</li>
	    </ul>
      </li>
      <li>Doloremque, qui enim.</li>
    </ul>
  </li>
  <li>Nam, officia accusantium.</li>
  <li>Saepe, perferendis, deserunt.</li>
  <li>Animi iure, maiores.</li>
  <li>Commodi aperiam, laboriosam.</li>
</ul>
<h2>Ordered</h2>
<ol>
  <li>Lorem ipsum dolor.</li>
  <li>Sed adipisci, obcaecati.</li>
  <li>Aperiam reprehenderit, quae.</li>
  <li>Quaerat, ea, deleniti?
    <ol>
      <li>Lorem ipsum dolor.</li>
      <li>Fugit, aspernatur, molestias.</li>
      <li>Iusto, voluptas accusantium?</li>
      <li>Dolores, saepe, molestiae!</li>
      <li>Modi, repellat, quos.</li>
    </ol>
  </li>
  <li>Maxime, suscipit, cupiditate.</li>
  <li>Enim, laborum, neque?</li>
  <li>Quia, voluptatem architecto.</li>
  <li>Eius, iure, delectus?</li>
</ol>
*/
/*doc
---
title: Definition Lists
name: z-definition lists
category: Basics
---
<dl>
<dt>Cascading Style Sheets</dt>
<dd>Style sheets are used to provide presentational suggestions.</dd>
<dt>Content Management</dt>
<dd>The process of collecting, managing and publishing content to various media.</dd>
</dl>
*/