.cm-blog{
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 50px;
  min-height: 330px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  border-top: 4px solid #444;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  @include max-screen(992px){
   padding-bottom: 80px;
 }

 & img{
  max-height: 200px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

&-heading{
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  color: #999;
  margin-right: 5px;

}

&-footer{
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}
&-emphasis{
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  color: #01579b;
  margin-right: 5px;
}

&-title{
  display: block;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 22px;
  color: #37474f;
  text-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
}
}


$box-list: color(primary) 'primary',
color(secondary) 'secondary',
color(positive) 'positive',
color(negative) 'negative',
color(special) 'special',
color(brand) 'brand',
color(info) 'info';


@include module(box) {
  @each $color, $name in $box-list {
    @include sub-module($name) {
      .cm-box-heading-icon, .cm-box-more{
        background-color: $color;

        &:hover{
          background-color: darken($color, 5%);
        }
      }
    }
  }
}

.product-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none;

  & img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 80%;
    // position: absolute;
    // top: 40px;
    // left: 50%;
    // transform: translateX(-50%);
    // width: auto;
    // max-height: 80%;
    
    // @include max-screen(786px){
    //   max-height: 70%;
    // }
  }

  & .product-image-description {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // color: #fff;
    // width: auto;


    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    // color: #fff;
    // width: auto;
    // max-height: 20%;
    // overflow: hidden;
    // display: block;
    // // background: red;
    // padding: 20px;
    // margin: 0;
    // box-sizing: border-box;

    
    @include max-screen(992px){
      width: 80%;
    }
  }

  & .product-image-overlay-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
        z-index: 1000;
  }
}

