/*doc
---
title: Panel info Box 
name: box
category: Components
---
```html_example
<div class="cm-box cm-box-primary">

	<div class="cm-box-heading">
        <span class="cm-box-heading-icon"><i class="glyphicon glyphicon-globe"></i></span>
        <h3 class="cm-box-heading-title">Latest Projects</h3>
    </div>
	<ul class="cm-box-list">
		<li class="cm-box-list-item"><a href="#">lorem Ipsum</a></li>
		<li class="cm-box-list-item"><a href="#">lorem Ipsum</a></li>
		<li class="cm-box-list-item"><a href="#">lorem Ipsum</a></li>
		<li class="cm-box-list-item"><a href="#">lorem Ipsum</a></li>
		<li class="cm-box-list-item"><a href="#">lorem Ipsum</a></li>
	</ul>
	<a class="cm-box-more" href="#">View more</a>
</div>
```
*/

.cm-box{
	padding: 15px 15px 40px 15px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 3px;
	background: #ffffff;

	&-vertical{
		margin: 0 !important;
		padding-bottom: 15px;
	}

	&-heading{
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px 10px 65px;
		position: relative;
		border-bottom: 1px solid lighten(color(neutral), 3%);
		&-icon{
			display: block;
			position: absolute;
			z-index: 5;
			left: 15px;
			top: -10px;
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			i{
				display: block;
				text-align: center;
				font-size: 22px;
				color: #ffffff;
				line-height: 39px;
			}
		}

		&-title{
			display: block;
			color: color(text);

			margin: 10px 0;
		}
	}

	
	&-list{
		padding: 0;
		padding-top: 15px;

		&-item{
			display: block;
			list-style: none;
			margin-bottom: 5px;
			padding-bottom: 5px;
			border-bottom: 1px dashed color(neutral);

			&-date{
				margin-bottom: 5px;
				font-size: 11px;
			}
			
			p{
				margin-bottom: 0;
			}
			
			a{
				color: color(text);

				&.more{
					color: color(brand);
				}
			}
		}
	}

	&-more{
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		padding: 8px 15px;
		color: rgba(255, 255, 255, .8);
		
		width: 100%;

		&:hover{
			background-color: rgba(0, 0, 0, .2);
			color: rgba(255, 255, 255, .8);
			text-decoration: none;
		}
	}

	.panel-body &{
		margin-top: 20px;
	}
}


$box-list: color(primary) 'primary', 
color(secondary) 'secondary', 
color(positive) 'positive', 
color(negative) 'negative', 
color(special) 'special',
color(brand) 'brand',
color(info) 'info';


@include module(box) {
	@each $color, $name in $box-list {	
		@include sub-module($name) {
			.cm-box-heading-icon, .cm-box-more{
				background-color: $color;

				&:hover{
					background-color: darken($color, 5%);
				}
			}
		}
	}
}

