%btn {
	background: $color-neutral;
	border: 1px solid $color-neutral;
	font-family: inherit;
	color: #fff;
	padding: 0.8em 1.5em;
	vertical-align: middle;
	text-decoration: none;
	line-height: 1em;
	display: inline-block;
	//border-radius: 0.32em;
	text-align: center;

	&:focus {
		outline: none;
	}
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	//@extend .btn;
}


$buttons-list: color(primary) 'primary',
color(secondary) 'secondary',
color(positive) 'positive',
color(negative) 'negative',
color(info) 'info',
color(warning) 'warning',
color(special) 'special',
color(default) 'default';


@include module(btn) {
	//@extend .btn;

	@each $color, $name in $buttons-list {

		@include sub-module($name) {
			background: $color;
			// border: 1px solid $color;
			&.#{class(btn-ghost)} {
				color: $color;
			}
		}
	}

	@include sub-module(ghost) {
		background: transparent;
		color: color(neutral);
	}

	@include sub-module(secondary) {

		$btn-sec-color: #7e7e7e;
		background-color: $btn-sec-color;
		color: color(primary);
		// border-color: transparent;
		color: #ffffff !important;
		&:hover{
			background-color: darken($btn-sec-color, 5%) !important;
			color: #ffffff !important;
		}
	}

	@include sub-module(block) {
		display: block;
		min-width: 100%;
		margin: 0.2em 0;
	}

	@include sub-module(small) {
		font-size: 0.7em;


	}
	@include sub-module(large) {
		font-size: 1.5em;
	}
	@include sub-module(pill) {
		border-radius: 4em;
	}
}



@include max-screen(640px){

	.cm-pull-right{
		// float: initial !important;
		width: 100%;
	}
}





.cm-btn{
	&-group{
		@include max-screen(992px){
			margin-bottom: 20px;

			.btn{
				margin-bottom: 10px;

				// &:last-child{
				// 	margin-bottom: 0;
				// }
			}
		}

		@include max-screen(640px){
			margin-bottom: 20px;

			&.cm-pull-right{
				// float: initial !important;
				width: 100%;
			}

			& > *,
			& > * > *,
			& > * > * > *,
			& > * > * > * > * {
				display: block;
				float: initial;
				margin-left: 0 !important;
				margin-right: 0 !important;
				margin-top: 0 !important;
				width: 100%;


				// &:last-child{
				// 	margin-bottom: 0;
				// }
			}
		}
	}

	&-fixer{
		margin-top: 24px;

		&-alt{
			margin-top: -5px;
		}
	}
}

.btn-group{
	@include max-screen(992px){
		margin-bottom: 20px;
	}
}


.btn{
	@include max-screen(992px){
		padding: 8px 18px !important;
	}

	&-sm{
		padding: 5px 18px;
	}

	&-beta{
		margin: 0 !important;
	}
}

.cm-file-upload {
	position: relative;
	overflow: hidden;

	&:hover{
		background-color: #264d73 !important;
		border-color: #1d3b58 !important;
		span{
			color: #fff !important;
		}
	}

	span{
		color: #fff !important;
	}
}

.cm-file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 0.1;
	width: 0.1;
	z-index: -1;
}

.download{
	display: inline-block;
	line-height: 1.3;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	user-select: none;
}
.download-pl0 {
	padding-left: 0px;
}

.transmittal{
	display: inline;
	line-height: 1.3;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	user-select: none;
}

.transmittal-paragraph{
	margin:0;
}
