.cm-collection {
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.cm-collection-label {
    font-weight: bold;
    padding: 6px;
}

.cm-collection-field {
    padding: 6px;
}

.cm-collection-row {
    overflow: hidden;
}

.cm-collection-header {
    border-bottom: 1px solid #ddd;
    display: table;
    width: 100%;
}

.cm-collection-header .cm-collection-row {
	display: table-cell;
	border-right: 1px solid #ddd;
}

.cm-collection-header .cm-collection-label {
    width: auto;
    float: none;
    display: block;
}

.cm-collection-header .cm-collection-field {
    float: none;
    display: block;
    width: auto;
}

.cm-collection-column-labels {
	.cm-collection-label {
		float: none;
		display: block;
		width: auto;
	}
}