.ui-datepicker{
  z-index: 100 !important;

  & select.ui-datepicker-month{
    width: 50% !important;
    float: left;
  }
  & select.ui-datepicker-year {
    width: 50% !important;
    float: right;
  }
}