.cm-filter {
  padding: 15px 15px 0px 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;

  &__alt{
    background-color: $color-base;
  }
}
