.panel-body{
	input{
		// margin-bottom: 10px;
		// @include max-screen(992px){
		// 	margin-bottom: 15px;
		// }

		// &.btn{
		// 	margin-bottom: 0;
		// }
	}

	textarea{
		margin-bottom: 10px
	}
}

.cm-form-ctrl{
	display: block;
	padding-top: 7px;
}


// .col-md-4  .date-number, .col-sm-4  .date-number {
// 	display: inline-block;
// 	width: 90%;
// }

// .col-md-2  .date-number {
// 	display: inline-block;
// 	width: 80%;
// }


hr {
  width: 100%;
  overflow: auto;
} 
