.cm-form-group{

  &__label{
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin: 0;

  }
  &__info{
    display: inline-block;

    & ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
    }

  }
}