%form-help-object {
	@include make-md-column(6);
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}

.cm-form {
	&-group {
		@extend .cf;

		&-alt {
			margin-bottom: 5px
		}
	}


	&-label {
		display: block;
		clear: both;
		float: none;
	}
	&-control {
		@extend %form-help-object;
	}
	&-help {
		@extend %form-help-object;
		margin-left: -.3em;
	}
}

.dropdown-menu h5 {
	border-top: 1px solid #ddd;
	border-left: 5px solid #ddd;
	padding: 10px 15px 10px;
	margin: 10px 0 0;
	font-weight: bold;
	color: #999;
}
