// Page heading

.cm-heading {
	font-weight: normal;
	font-size: 25px;
	margin: 0 0 1em 0;
	color: #37474f;
	text-shadow: rgba(0,0,0,.15) 0 0 1px;
	small {
		font-size: 60%;
		color: darken(color(base), 40%);
	}
	&-sub {
		margin: .4em 0 0;
		font-size: 0.5em;
		display: block;
	}
	&-suffix {
		font-size: 55%;
		vertical-align: middle;
		display: inline-block;
		margin: 0 0 0 10px;
		padding: 0 0 0 15px;
		border-left: 2px solid darker(base);
	}

	&-btn{
		margin-right: 5px;
	}
	
}

h1, h2, h3, h4, h5, h6 {
	&.bordered{
		padding: 7px 0 5px 0;
		border-width: 1px 0 1px 0;
		border-style: solid;
		border-color: color(primary);
		text-transform: uppercase;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 10px;
	}

	&.border-color{
		@include color(border-color);
	}
}


.color{
	@include color(color);
}