body {
	padding-top: $navbar-height;
}

.navbar-default {
	box-shadow: 0 0 15px darken(color(base), 30%);
	border: none;
}

.navbar-brand {
	padding: 12px 15px;
	// width: 215px;
	font-weight: bold;

	&-module {
		display: block;
		font-size: 14px;
		float: left;
		line-height: 16px;
	}
	&-1 {
		font-weight: normal;
		float: left;
		font-size: 36px;
		height: 40px;
		line-height: 40px;
		margin: 0 10px 0 0;
	}
	&-2 {
		margin-top: 4px;
	}
	&-3 {
		font-weight: normal;
		letter-spacing: 0.38em;
	}
}

.navbar-nav a {
	font-size: 13px;
	text-transform: uppercase;
}

.cm-user {
	&-dropdown {
		border-left: 1px solid darker(base);
	}

	&-avatar {
		width: 40px;
		margin: -10px 0 -10px 20px;

	}

	&-info {
		text-transform: capitalize;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		margin: -10px 0 -10px 10px;
		font-weight: bold;
	}

	&-company {
		display: block;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 0.9em;
	}

	&-title{
		display: block;
		margin-top: 20px;
	}
}