.cms-list {
    &-box {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 250px;
        overflow-Y: auto;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: #fff;
        background-image: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    &-group {
        list-style: none;
        margin: 0;
        padding: 0;
        &-item {
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            & .checkbox,
            & .radio {
                margin: 0;
            }
            label {
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0;
                display: block;
                // color: $brand-primary;
                cursor: pointer;
                &>input:checked+label::after {
                    opacity: 1;
                }
                input {
                    float: left;
                    margin-right: 5px;
                }
                &:hover {
                    background: lighten($brand-primary, 50%);
                }
            }
        }
    }
}