/*doc
---
title: Login Page
name: login
category: Components
---
```html_example
<div class="cm-login">
	<form class="cm-login-form">
		<div class="cm-brand">
			Construction
			<span>manager</span>
		</div>
		<div class="cm-login-controls">
			<div class="form-group">
				<input type="text" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Remember me?
				</label>
			</div>
			<div class="form-group">
				<input class="btn btn-primary btn-block" type="submit" value="Log In">
			</div>
		</div>
		<div class="cm-sign-up">Don't have an account? <a>Sign Up</a></div>
	</form>
</div>
```
*/

.cm-login {
	width: 100%;
	height: 100%;
	height: 100vh;
	height: calc(100vh - 25px);
	margin-top: -#{$page-push};
	text-align: center;
	background: {
		image: img('cm-bg-login.jpg');
		repeat: no-repeat;
		size: cover;
		position: center center;
	}
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&-form {
		display: inline-block;
		vertical-align: middle;
		max-width: 600px;
		color: #333333;
		padding: 30px;
		background-color: rgba(255, 255, 255, .85);
		
		a {
			color: color(brand);
			text-decoration: underline;
			font-weight: 400;

			&:hover{
				color: #333333;
			}
		}
	}

	&-controls {
		
		input{
			border-color: color(brand);
			color: #333333;

			padding: 0 10px;

			&:focus{
				border-color: $color-brand;
				padding: 0 10px;
			}
		}
	}

	&-error {
		text-align: left;
		background: rgba(darken(color(negative), 30%), 0.4);
		color: lighten(color(negative), 30%);
		border: 1px solid color(negative);
	}

	.checkbox {
		text-align: left;
	}

	&-logo{
		margin-bottom: 30px;
		img{
			max-width: 250px;
			display: block;
			margin: auto;
		}
	}
}

.cm-brand {
	font-weight: bold;
	font-size: 2.8em;
	display: inline-block;
	text-align: left;
	padding: 0 0 1em;
	margin: 0 0 0.6em;
	position: relative;
	span {
		font-weight: normal;
		display: block;
		letter-spacing: 1.48em;
		font-size: 0.6em;
		position: absolute;
		bottom: 0.7em;
		left: 0;
	}
}