// @include max-screen(768px){
//     .nav-tabs {
//         margin-bottom: 20px;
//         background-color: #fff;
//         border: 1px solid transparent;
//         border-radius: 4px;
//         box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
//     }
//     .nav-tabs li {
//         display:block !important;
//         width:100%;
//         margin:0px;
//         a{
//             margin-right: 0;
//         }
//     }
//     .nav-tabs li.active {
//         border-bottom:1px solid #ddd!important;
//         margin: 0px;
//         & > a,
//         & > a:hover {
//             color: #fff;
//             background-color: #444444;
//             border-radius: none;
//              border-radius: 0;
//         }
//     }
// }
@media (max-width: 767px) {
  .nav-tabs.nav-tabs-dropdown,
  .nav-tabs-dropdown {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .nav-tabs.nav-tabs-dropdown::after,
  .nav-tabs-dropdown::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }
  .nav-tabs.nav-tabs-dropdown.open a,
  .nav-tabs-dropdown.open a {
    position: relative;
    display: block;
  }
  .nav-tabs.nav-tabs-dropdown.open>li.active>a,
  .nav-tabs-dropdown.open>li.active>a {
    background-color: #eeeeee;
  }
  .nav-tabs.nav-tabs-dropdown li,
  .nav-tabs-dropdown li {
    display: block;
    padding: 0;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
  }
  .nav-tabs.nav-tabs-dropdown>li>a,
  .nav-tabs-dropdown>li>a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown>li>a:focus,
  .nav-tabs-dropdown>li>a:focus,
  .nav-tabs.nav-tabs-dropdown>li>a:hover,
  .nav-tabs-dropdown>li>a:hover,
  .nav-tabs.nav-tabs-dropdown>li>a:active,
  .nav-tabs-dropdown>li>a:active {
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown>li.active>a,
  .nav-tabs-dropdown>li.active>a {
    display: block;
    border-color: transparent;
    position: relative;
    z-index: 1;
    background: #fff;
  }
  .nav-tabs.nav-tabs-dropdown>li.active>a:focus,
  .nav-tabs-dropdown>li.active>a:focus,
  .nav-tabs.nav-tabs-dropdown>li.active>a:hover,
  .nav-tabs-dropdown>li.active>a:hover,
  .nav-tabs.nav-tabs-dropdown>li.active>a:active,
  .nav-tabs-dropdown>li.active>a:active {
    border-color: transparent;
  }
}

.nav-tabs-responsive {
  overflow: auto;
  overflow-Y: hidden;
}

.cm-navbar {
  & .navbar-brand {
    display: none;
  }
  @media (max-width: 767px) {
    background: white;
    box-shadow: none;
    min-height: auto !important;
    & .navbar-brand {
      display: block;
      float: none;
      height: auto !important;
      font-size: 14px;
      line-height: 100%;
      color: #086CBB !important;
      &:hover,
      &:focus {
        color: #555555 !important;
        background-color: transparent;
      }
    }
    & .navbar-toggle {
      padding: 5px 5px;
      margin-top: 8px;
      margin-bottom: 0;
    }
    & .icon-bar {
      background-color: #555555 !important;
    }
    & .cm-custom-navbar {
      margin: 0 -15px;
      & .active>a,
      & .active>a:hover,
      & .active>a:focus {
        color: #086CBB !important;
        background-color: #fff;
      }
      &>li {
        &.active {
          color: #086CBB !important;
          font-weight: bold;
          background-color: #fff !important;
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
        &>a {
          color: #555555 !important;
          padding: 0.6em 1em !important;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          text-transform: capitalize;
          &:hover,
          &:focus,
          &:active,
          &.active {
            transition: .1s all ease-in;
            color: #086CBB !important;
            font-weight: bold;
            background-color: #fff !important;
          }
        }
      }
    }
  }
}