.cm-panel{

	&-heading__combo{
		&--txt{
			display: inline-block;
			margin-top: 7px;
			margin-right: 15px;
		}

		&--btn{
			float: right;
			margin-bottom: 0;
		}
	}

	&-alt{
		.panel-body{
			padding: 0px;
			padding-top: 15px !important;
		}
	}

	&-beta{
		.panel-body{
			padding: 10px;
			background: lighten(color(neutral), 4%);
		}
	}
	&-tabs{
		&-body{
			border-top: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
}

