.cms-sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    margin-left: -250px;
    background-color: #383838;
    transition: 0.5s;
    padding-top: 60px;
    &-inner {
        overflow: auto;
        overflow-x: hidden;
        height: 100%;
    }
    &-menu {
        background: #f1f4f5;
        &-item {
            float: left;
            display: block; // width: 50%;
            border-right: 1px solid #444444;
            &:nth-child(1):nth-last-child(1) {
                width: 100%;
            }
            /* two items */
            &:nth-child(1):nth-last-child(2),
            &:nth-child(2):nth-last-child(1) {
                width: 50%;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    &-btn {
        padding: 15px;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        color: #ddd;
        display: block;
        transition: 0.3s;
        background: #336699;
        &:hover {
            background: #264d73 !important;
        }
        & .active {
            background: #264d73 !important;
        }
    }
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        a {
            padding: 15px;
            text-decoration: none;
            color: #ddd;
            display: block;
            transition: 0.3s;
            border-bottom: 1px solid #444444;
            &:hover {
                background: #444444;
            }
        }
        li {
            &.active {
                background: #444444;
                color: #fff;
            }
        }
    }
    & .sidenav-toggle {
        position: absolute;
        top: 60px;
        right: -50px; // font-size: 36px;
        padding: 7px 15px;
        height: 51px;
        line-height: 100%;
        /* margin-left: 50px; */
        line-height: 100%;
        color: #f1f4f5;
        background: #336699;
        border-left: 1px solid #444444;
        text-decoration: none;
        &:hover {
            background: #444444;
        }
        @include max-screen(1600px) {
            height: 38px !important;
        }
    }
    &.open {
        margin-left: 0;
    }
}

// .cms-sidenav ul a:hover, 
// .offcanvas a:focus{
//     color: #f1f1f1;
// }
// #main {
//     transition: margin-left .5s;
//     padding: 16px;
// }
@media screen and (max-height: 450px) {
    .cms-sidenav {
        padding-top: 15px;
    }
    .cms-sidenav a {
        font-size: 18px;
    }
}

.icon {
    -webkit-transition: all 0.4s ease-out;
    position: relative;
    top: 17px;
    /* left: 0; */
    /* right: 0; */
    margin: 0 auto;
    width: 20px;
    height: 2px;
    background-color: #fff;
    &:before,
    &:after {
        -webkit-transition: all 0.25s ease-out;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        content: '';
    }
    &:before {
        top: -10px;
        left: 0;
    }
    &:after {
        top: 10px;
        left: 0;
    }
    @include max-screen(1600px) {
        top: 11px;
        &:before {
            top: -7px;
        }
        &:after {
            top: 7px;
        }
    }
}

// &:hover {
//     .icon {
//         background-color: #fff;
//         &:before {
//             top: -20px;
//             background-color: #fff;
//         }
//         &:after {
//             top: 20px;
//             background-color: #fff;
//         }
//     }
// }
&.open {
    .icon {
        -webkit-transition: all 0.4s ease-out;
        background-color: transparent;
        -webkit-transform: rotate(180deg);
        &:before {
            top: 0;
            -webkit-transform: rotate(45deg);
        }
        &:after {
            top: 0;
            -webkit-transform: rotate(-45deg);
        }
    }
}