$switch-thumb: #7e7e7e;
$switch-thumb--active: $color-brand;
$switch-track: lighten($color-brand, 70%);
$switch-track--active: lighten($color-brand, 60%);

.cm-switch{
  float: left;
  display: block;
  margin-top: 5px;
  margin-right: 15px;

  &-input{
    display: none !important;
  }

  &-knob {
    display: inline-block;
    width: 50px;
    height: 26px;
    padding: 4px;
    border-radius: 20px;
    background: $switch-track;
    border: 1px solid lighten($color-primary, 50%);;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;


    &:before,
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transition: all 350ms cubic-bezier(0,.95,.38,.98),
      background 150ms ease;
    }

    &:before {
      background: rgba($switch-thumb, 0.075);
      transform: translate3d(0, -50%, 0) scale(0);
    }

    &:after {
      background: $switch-thumb;
      transform: translate3d(0, -50%, 0);
    }

    &:active {
      &:before {
        transform: translate3d(0, -50%, 0) scale(3);
      }
    }
  }
}

input:checked + .cm-switch-knob {
  background: $switch-track--active;

  &:before {
    background: rgba($switch-thumb--active, 0.075);
    transform: translate3d(100%, -50%, 0) scale(1);
  }

  &:after {
    background: $switch-thumb--active;
    transform: translate3d(100%, -50%, 0);
  }

  &:active {
    &:before {
      background: rgba($switch-thumb--active, 0.075);
      transform: translate3d(100%, -50%, 0) scale(3);
    }
  }
}

