.cm-table {
	&-compact {
		font-size: 14px;

		// Bootstrap insanity selector, @mdo should re-evaluate life decisions.
		th,
		td,
		> thead > tr > th,
		> tbody > tr > td,
		> tbody > tr > th ,
		> tfoot > tr > td,
		> tfoot > tr > th {
			padding: 8px;
			& .radio,
			& .checkbox{
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		}


	}

	&-break{
		> tbody > tr > td{
			word-break: break-all;
		}
	}


}

.cm-cell {
	&-numeric {
		text-align: right;
	}
	&-ellipsis {
		display: inline-block;
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.cm-row {
	&-actions {
		text-align: right;
		form {
			display: inline-block;
		}
	}
	&-separator {
		padding-top: 10px;
		td {
			border-top: 1px dashed color(brand) !important; // GOTO: Line 5
			box-shadow: 0 17px 5px -15px darken(color(base), 20%) inset;
		}
	}
}

.no-td{
	border-left: 1px solid rgba(255, 0, 0, 0) !important;
	border-right: 1px solid rgba(255, 0, 0, 0) !important;
	border-bottom: 1px solid rgba(255, 0, 0, 0) !important;
}

.td-right{
	border-right: 1px solid #dedede !important;
}

.no-wrap {
	white-space: nowrap;
}

.no-wrap .row-title {
	display:inline-block;
	margin-left: 5px;
}

.cm-table-no-top-border {
	tr{
		border-top: 1px solid #dedede;
		td{
			border: none;
		}
		&:first-child {
			border-top: none !important;
		}
	}
}

.cm-table-borderless {
	td {
		vertical-align: top;
		border-top: none !important;
	}
}

.cm-table-border-bottom {
	tr {
		border-bottom: 1px solid #eeeeee;
	}
}