.cm-tab {
	list-style-type: none;
	padding: 0;
	margin: 0;
	&-item {
		display: block;
		padding: 1em 2em;
		margin: 0 -1px -1px 0;

		border-bottom: 2px solid #F1F4F5;
		border-right: 2px solid #f1f4f5;
		transition: .1s all ease-in;

		// border: 1px solid darker(base);
		// background: lighter(base);
		// transition: .1s box-shadow ease-in;

		.panel .panel-body &{
			margin: 0 0 -1px 0;
		}

		&:first-child {
			border-radius: 3px 0 0 0;
		}
		&:last-child {
			border-radius: 0 0 0 3px;
		}
		&:hover,
		&.active {
			box-shadow: 5px 0 0 color(brand) inset;
			a{
				transition: .1s all ease-in;
				color: #086CBB;
				font-weight: bold;
			}
		}
	}
	&-link {
		display: block;
		text-decoration: none;
		margin: -1em -2em;
		padding: 1em 2em;
		color: #555555;

		&:hover {
			text-decoration: none;
		}
	}

	&-vertical {
		margin-left: -30px;

		@include max-screen(992px){
			margin-right: 0;
		}

		&-alt{

			margin-top: -16px;
			margin-left:-16px;

			@include max-screen(992px){
				margin: -16px -30px 5px -30px;
			}

			.cm-tab-link{
				padding: 0.6em 1em;

			}


		}

	}

	&-alt{
		border-bottom: none;
	}





	&-inner{
		li{
			&.active, &.active:hover{
				a{
					background-color: color(brand);
					color: #ffffff;
				}
			}
		}

		li.active, {
			a{

			}
		}
	}
}

.cm-inner-tabs {
	border-bottom: 2px solid #ddd;
	& > li.active {

		& > a {
			background-color: #ddd !important;
			// border-top: 1px solid #ddd !important;
			// border-left: 1px solid #ddd !important;
			// border-right: 1px solid #ddd !important;
			// border-bottom: none;
		}
	}
}

.panel-inner-tabs{
	& > .nav-tabs > li.active > a{
		background-color: #dedede !important;
	}
}

.cm-tab-vertical-alt-container{
	& > .cm-tab-vertical-alt {
		margin-top: -21px;
		margin-left: -15px;
	}
}