.cm-trail {
	@extend .cf;
	padding: 0;
	margin: 0.5em 0 0;
	font-size: 13px;
	list-style-type: none;
	
	&-item {
		float: left;
		position: relative;
		&:after {
			content: '/';
			font-size: 22px;
			line-height: 20px;
			display: inline-block;
			margin: 0 10px;
			vertical-align: top;
			color: darken(color(base), 20%);
		}
		&.active {
			
			&:after {
				content: none;
			}
		}
	}
	&-link {
	color: #76838f;
		.active & {
			color: darker(brand);
		}
	}
}