.text{
	&-larger{
		font-size: 1.1em;
	}
}

.cm-text-primary{
  color: $color-primary;
}

// .cm-heading-alt{
//   text-transform: uppercase;
//   border-bottom: 2px solid $color-brand;
//   margin-top: 0;
//   margin-bottom: 30px;
//   padding: 0;
//   padding-bottom: 10px;
// }