div.plupload_wrapper{
	min-width: 300px;

	.ui-widget-content{
		border: none;

		.plupload_dropbox{
			border-left: 1px solid #d3d3d3;
			border-right: 1px solid #d3d3d3;
			@include vendorize(box-sizing, border-box);
		}

		.ui-state-default{
			background: color(neutral);
		}
	}
}