/*doc
---
title: user collection
name: user-collection
category: Components
---
<ul class="user-collection">
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Lorem ipsum.</span><span class="user-collection-meta">Lorem ipsum dolor sit amet.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Amet, hic.</span><span class="user-collection-meta">Nisi accusamus, unde commodi libero.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Reiciendis, magnam!</span><span class="user-collection-meta">Incidunt non numquam dolores et!</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Eos, unde.</span><span class="user-collection-meta">Facere at, aliquid delectus tenetur.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Dolorem, praesentium.</span><span class="user-collection-meta">Incidunt ducimus fugiat placeat officia.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Vero, optio.</span><span class="user-collection-meta">Quis impedit deserunt facere quisquam.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Deleniti, repudiandae.</span><span class="user-collection-meta">Error, quia. Eius, illo, cum!</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Dolor, qui!</span><span class="user-collection-meta">Impedit modi at laudantium similique.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Similique, odio!</span><span class="user-collection-meta">Eligendi iste, natus fugit architecto.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Officiis, vero.</span><span class="user-collection-meta">Laboriosam excepturi deserunt dolores reprehenderit.</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Nam, repellat.</span><span class="user-collection-meta">Consequatur magni sequi nam exercitationem?</span></span></li>
  <li class="user-collection-item"><img src="http://placehold.it/100x100" alt="" class="user-collection-image"><span class="user-collection-info"><span class="user-collection-name">Est, modi.</span><span class="user-collection-meta">Minima quod quia aliquam rerum.</span></span></li>
</ul>
*/

.user-collection {

	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid darker(base);
	font-size: 1em;
	line-height: 1.6;

	&-image {
		vertical-align: middle;
		max-width: 4em;
		border-radius: 100%;
		margin: 1em;
		border: 1px solid darker(base);
	} 
	
	&-info {
		display: inline-block;
		vertical-align: middle;
	}

	&-name {
		font-weight: bold;
	} 
	&-meta {
		display: block;
		color: lighter(brand);
		font-size: 0.8em;
		text-transform: uppercase;
	}

	&-item {
		@extend .cf;
		border-top: 1px solid darker(base);
		&:first-child {
			border-top: none;
		}
	}
 
	@include respond-to(mobile) {
		
	} 
	@include respond-to(tablet) {

	} 
	@include respond-to(desktop) {

	}
}
