.please-wait {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.50;
    background: #dddddd;
    z-index: 10;
    display: none;
    img {
        position: relative;
        left: 50%;
        top: 50%;
    }
}