.cm-error-page {
    margin: 60px auto 0;
    text-align: center;
    @include max-screen(480px){
		margin: 15px;
	}
    &-title {
        font-size: 10rem;
        font-weight: 600;
        color: #336699;
        line-height: 100%;
    }
    &-subtitle {
        display: inline-block;
        font-size: 2rem;
    }
    &-question {
        display: inline-block;
        padding-right: 5px;
    }
    &-img {
        position: relative;
        margin: 20px auto;
        width: 230px;
        &:after {
            content: "";
            display: block;
            width: 31px;
            height: 58px;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation: dot 1.3s infinite;
            animation-delay: 0.3s;
            position: absolute;
            top: -30px;
            right: -10px;
            z-index: 1000;
            background-size: 30px;
            background-repeat: no-repeat;
            background-image: url("/img/lost.svg");
        }
    }
    &-img-500 {
        position: relative;
        margin: 20px auto;
        width: 230px;
        &:after {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            -webkit-animation: dot 1.3s infinite;
            animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
            position: absolute;
            top: 52%;
            left: 60%;
            z-index: 1000;
            transform: translateX(-50%) translateY(-50%);
            background-size: 110px;
            background-repeat: no-repeat;
            background-image: url(/img/x.svg);
        }
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}