.shadow-z-1 {
    // box-shadow: 0 1px 3px rgba(0,0,0, .12),
    //     0 1px 2px rgba(0,0,0, .24) ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12),
    0px 0px 5px rgba(0, 0, 0, 0.24);
}

.shadow-z-2 {
    box-shadow: 0 3px 6px rgba(0,0,0, .16),
    0 3px 6px rgba(0,0,0, .23) ;
}
.shadow-z-2-hover {
    box-shadow: 0 3px 6px rgba(0,0,0, .20),
    0 3px 6px rgba(0,0,0, .28) ;
}

.shadow-z-3 {
    box-shadow: 0 10px 20px rgba(0,0,0, .19),
    0 6px 6px rgba(0,0,0, .23) ;
}

.shadow-z-4 {
    box-shadow: 0 14px 28px rgba(0,0,0, .25),
    0 10px 10px rgba(0,0,0, .22) ;
}

.shadow-z-5 {
    box-shadow: 0 19px 38px rgba(0,0,0, .30),
    0 15px 12px rgba(0,0,0, .22) ;
}
