// material icons path
$material-font-path: "../fonts" !default;

// Material colors palette
$red: #F44336 !default;
$pink: #E91E63 !default;
$purple: #9C27B0 !default;
$deeppurple: #673AB7 !default;
$indigo: #3F51B5 !default;
$lightblue: #03A9F4 !default;
$cyan: #00BCD4 !default;
$teal: #009688 !default;
$lightgreen: #8BC34A !default;
$lime: #CDDC39 !default;
$lightyellow: #FFEB3B !default;
$orange: #FF9800 !default;
$deeporange: #FF5722 !default;
$grey: #9E9E9E !default;
$bluegrey: #607D8B !default;
$brown: #795548 !default;
$lightgrey: #ECECEC !default;

// Bootstrap shades
$primary: #4285F4 !default;
$success: #0F9D58 !default;
$info: $lightblue !default;
$warning: $deeporange !default;
$danger: $red !default;

// Typography elements for Material
$darkbg-text: rgba(255,255,255,0.84) !default;
$lightbg-text: rgba(0,0,0,0.84) !default;
$icon-color: rgba(0,0,0,0.5) !default;


// Bootstrap variables
$btn-default: #FFF !default;
$btn-default-text: $lightbg-text !default;

$btn-primary: $primary;
$btn-primary-text: $darkbg-text !default;

$btn-success: $success;
$btn-success-text: $darkbg-text !default;

$btn-info: $info;
$btn-info-text: $darkbg-text !default;

$btn-warning: $warning;
$btn-warning-text: $darkbg-text !default;

$btn-danger: $danger !default;
$btn-danger-text: $darkbg-text !default;

$input-unchecked: rgba(137, 137, 137, 0.3) !default;
$input-checked: rgba(15, 157, 88, 0.3) !default;

$radio-default: $lightbg-text !default;
$radio-primary: $primary !default;
$radio-success: $success !default;
$radio-info:    $info !default;
$radio-warning: $warning !default;
$radio-danger:  $danger !default;

$input-danger: $danger !default;
$input-default: $primary !default;
$input-warning: $warning !default;
$input-success: $success !default;
$input-info:    $info !default;

$navbar-danger-bg: $danger !default;
$navbar-inverse-bg: #5264AE !default;
$navbar-warning-bg: $warning !default;
$navbar-success-bg: $success !default;
$navbar-info-bg:    $info !default;
$navbar-default-bg: $primary !default;
$navbar-color: $darkbg-text !default;
$navbar-link-color: $darkbg-text !default;
$navbar-link-hover-color: $darkbg-text !default;
$navbar-link-hover-bg: transparent !default;
$navbar-link-active-color: $darkbg-text !default;
$navbar-link-active-bg: rgba(0,0,0,0.05) !default;
$navbar-link-disabled-color: #E5E5E5 !default;
$navbar-link-disabled-bg: transparent !default;
$navbar-brand-color: $darkbg-text !default;
$navbar-toggle-border-color: $darkbg-text !default;
$navbar-toggle-hover-bg: transparent !default;
$navbar-toggle-icon-bar-bg: $darkbg-text !default;
$navbar-border: $darkbg-text !default;

$alert-success: $success !default;
$alert-info: $info !default;
$alert-warning: $warning !default;
$alert-danger: $danger !default;

$progress-success: $success !default;
$progress-info: $info !default;
$progress-warning: $warning !default;
$progress-danger: $danger !default;

