.mt0{
  margin-top: 0;
}

.mt5{
  margin-top: 4px;
}

.mt10{
  margin-top: 10px;
}

.mt15{
  margin-top: 15px;
}

.mt20{
  margin-top: 20px;
}

.mt25{
  margin-top: 25px;
}

.mb0{
  margin-bottom: 0;
}

.mb5{
  margin-bottom: 4px;
}

.mb15{
  margin-bottom: 15px;
}

.mb20{
  margin-bottom: 20px;
}

.mr5{
  margin-right: 5px;
}

.ml5{
  margin-left: 5px;
}

.ml15{
  margin-left: 15px;
}

.ml0{
  margin-left: 0px;
}

.tac {
  text-align: center;
}

.pl0 {
  padding-left: 0px;
}