/*doc
---
title: Colors
name: colors
category: Basics
---
<div class="cf">
	<div class="doc-color-brand">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-base">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-primary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-secondary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-text">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-link">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-positive">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-negative">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-neutral">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-warning">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-info">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-special">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
</div>

*/

$brand-primary: #336699;
$brand-success: #49A078;
$brand-info: #58A4B0;
$brand-warning: #ECA400;
$brand-danger: #D64933;


$color-brand: #01508e;
$color-base: #f5f5f5;
$color-primary: #555;
$color-secondary: #dedede;
$color-text: $color-primary;
$color-link: $color-primary;
$color-positive: #43a047;
$color-negative: #e53935;
$color-info: $brand-info;
$color-neutral: #e0e0e0;
$color-special: #5e35b1;





$colors:(
	brand: $color-brand,
	base: $color-base,
	primary: $color-primary,
	secondary: $color-secondary,
	text: $color-text,
	link: $color-link,
	positive: $color-positive,
	negative: $color-negative,
	info: $color-info,
	neutral: $color-neutral,
	special: $color-special
	);

$colors-text:(
	brand: #fff,
	base: #555555,
	primary: #fff,
	secondary: #fff,
	text: #fff,
	link: #fff,
	positive: #fff,
	negative: #fff,
	neutral: #2c3e50,
	special: #fff
	);

@function color($c) {
	@return map-get($colors, $c);
}

@function text-color($c) {
	@return map-get($colors-text, $c);
}

$color-brightness: 10%;

@function darker($c) {
	@return darken(color($c), $color-brightness);
}

@function lighter($c) {
	@return lighten(color($c), $color-brightness);
}

// Bootstrap settings
$body-bg: #f1f4f5;

$text-color: color(primary);
$link-color: color(link);

$primary: $brand-primary;
$success: $brand-success;
$info: $brand-info;
$warning: $brand-warning;
$danger: $brand-danger;

$state-success-bg:               $brand-success;
$state-info-bg:                  $brand-info !default;
$state-warning-bg:               $brand-warning !default;
$state-danger-bg:                $brand-danger !default;

$state-success-text:  #ffffff;
$state-info-text:     #ffffff;
$state-warning-text:  #ffffff;
$state-danger-text:   #ffffff;


