// Fonts

/*doc
---
title: Fonts
name: fonts
category: Basics
---
<h2 class="doc-heading">Headings: $font-secondary</h2>
<p>Body: $font-primary.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis enim placeat veniam eius aut officiis culpa ipsum, voluptatum voluptas, libero dignissimos, unde assumenda. Ipsam nobis eos accusamus possimus magnam voluptate.</p>
<p>Officia quae eum molestiae aut ut assumenda excepturi dolore perferendis ipsam autem. Aut neque est, veritatis, dicta possimus quaerat, esse unde sapiente aperiam laboriosam aliquid. Obcaecati optio tempore rerum, et.</p>

*/


// Type font
// Primary
$font-primary: "Open Sans";
$font-primary-google: unquote($font-primary); // Comment out if using system fonts
$font-family-primary: $font-primary, sans-serif;

// Heading font
// Secondary
$font-secondary: "Exo 2";
$font-secondary-google: unquote($font-secondary); // Comment out if using system fonts
$font-family-secondary: $font-secondary, serif;

// Bootstrap settings
$font-family-sans-serif: $font-family-primary;


$is-docs: false !default;

