$nav-bg: #444;

$navbar-height: 60px;
$navbar-default-bg: $nav-bg;
$darkbg-text: rgba(255,255,255,0.84);
$navbar-link-hover-color: #ffffff;
$navbar-link-hover-bg: darken($nav-bg, 5%);
$navbar-link-active-bg: darken($nav-bg, 5%);