@import "tools/imports";

@import "settings/imports";

@import "bootstrap/bootstrap";

@import "material/material-wfont";

@import "material/material";

@import "material/ripples";

@import "base/imports";

@import "components/imports";

@import "components/bootstrap-overide/imports";

@import "trumps/imports";

@import "dev";

.r{
  background:pink;
}

.g{
  background:green;
}

.b{
  background: blue;
}

.w50 {
  width: 50px;
}
