#selected_input_cont, #selected_subcontractors_cont{
	display:none;
}

.number-days {
	width: 70px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 15px;
}

.number-days-tasks {
	width: 70px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 0px;
}

.number-days-text {
	margin-top: 5px;
	display: inline-block;
}