$web-fonts-protocol: 'http';
$is-docs: true;

@import "app";



%color-demo {
	position: relative;
	width: 20%;
	height: 140px;
	float: left;
	display: table;
	&:before {
		font-size: 12px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	&:after {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

@each $name, $color in $colors {
	.color-#{$name} {
		@extend %color-demo;
		background: $color;
		color: text-color($name);
		&:before {
			content: "#{$name} : #{$color}";
		}
	}
}


%doc-color {
	width: 1/6 * 100%;
	float: left;
	position: relative;
	border: 5px solid #fff;
	box-shadow: 0 0 0 1px #ddd;
	&:after {
		position: absolute;
		top: 10px;
		left: 10px;
		color: #fff;
		font-weight: bold;
		text-shadow: 0 0 6px #000;
	}
	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}

	.doc-color-lighter {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 30%;
	}
	.doc-color-darker {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 30%;
	}
}

@each $color-name, $color-hex in $colors {
	.doc-color-#{$color-name} {
		@extend %doc-color;
		background: $color-hex;
		.doc-color-lighter {
			background: lighten($color-hex, 10%);
		}
		.doc-color-darker {
			background: darken($color-hex, 10%);
		}
		&:after {
			content: '#{$color-name}';
		}
	}

}

.doc-header {
	@extend .cf;
	background: darker(neutral);
	padding: 10px 20px;
	position: relative;
	z-index: 2;
	h1 {
		margin: 0;
		color: lighter(brand);
		text-shadow: 0 1px 0 rgba(#fff, 0.3);
	}
}

.doc-footer {
	text-align: right;
	padding: 0 20px;
	background: $color-text;
	color: $color-base;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.doc-nav {
	background: $color-brand;
	box-shadow: 0 0 4px #444;
	position: relative;
	z-index: 1;
	ul {
		@extend .cf;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li {
		float: left;
	}
	a {
		display: block;
		padding: 10px 20px;
		text-decoration: none;
		color: lighten($color-brand, 30%);
		text-shadow: 0 -1px 0 rgba(#000, 0.3);
		border-right:1px solid lighten($color-brand, 5%);
		&:visited {
			color: lighten($color-brand, 30%);
		}
	}
}

.doc-content {
	@extend .cf;
	position: relative;
	padding-bottom: 2em;
	min-height: calc(100vh - 145px);
}

.doc-side-nav {
	@extend .cf;

	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 20%;
	float: left;
	position: fixed;
	padding-top: $navbar-height;
	top: 0;
	bottom: 0;
	background: lighter(base);
	border-right: 1px solid #ccc;

	li {}
	a {
		display: block;
		padding: 10px 20px;
		border-bottom: 1px solid #ddd;
		text-decoration: none;
		text-transform: capitalize;
	}

	@include respond-to(tablet) {
		& {
			display: table;
			width: 100%;
			background: color(brand);
			border-bottom: 1px solid darker(brand);
			z-index: 10;
		}

		li {
			display: table-cell;
			border-left: 1px solid darker(brand);
			text-align: center;
			vertical-align: middle;
		}
		a {
			color: lighter(base);
			border: none;
		}
	}

	//&:before {
	//	content: "S";
	//	position: absolute;
	//	font-size: 6em;
	//	top: 0.38em;
	//	text-align: center;
	//	width: 100%;
	//	color: lighter(brand);
	//	text-shadow: 0 1px 0 #fff;
	//	padding-bottom: 18px;
	//	border-bottom: 1px solid #ddd;
	//}
}

.doc-content-main {
	width: 65%;
	float: left;
	margin: 0 0 0 25%;
	padding-top: $navbar-height;

	& > h1[id] {
		clear: both;
		border-top: 1px solid #ddd;
		padding: 15px 0 0;
		text-transform: capitalize;
		&:first-child {
			border-top: none;
			padding: 0;
		}
	}

	@include respond-to(tablet) {
		width: 100%;
		margin: 0;
		padding: 40px 30px 0;
	}
}

.doc-grids {
	[class^="col"] {
		background: darker(base);
		border: 1px solid color(brand);
		text-align: center;
		line-height: 4;
	}
}

.phantom-ready {
	.doc-header {
		display: none;
	}
	.doc-side-nav {
		display: none;
	}
	.doc-content-main {
		width: 100%;
		margin: 0;
	}
}