.btn{
  padding: 7px 18px !important;
  // @include max-screen(992px){
  //   padding: 7px 20px !important;
  // }

  &-sm{
    padding: 5px 18px;
  }

  &-default{
    border: 1px solid #ddd;
  }
}


.btn-group{

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
}