input[type="checkbox"]{
	&.form-control{
		height: 28px;
	}
}

.form-control {
	  &[disabled],
	  &[readonly],
	  fieldset[disabled] & {
	    background-color: lighten(color(negative), 40%);
	    padding-left:10px;
	    color: #999;
	  }
}