.nav-tabs + .panel .panel-body{
	border-top: none;
	padding-top: 20px;
	border-radius: 0px;
	box-shadow: none;
}

.nav-tabs{
	li{
		a{
			color: #555555;
		}
	}
}

.cm-pills-dropdown{
    li{
        a{
            padding: 7px 20px;
        }
    }
}

