.table{
	.btn{
		margin-bottom: 0;
	}

	thead, tbody{
		> tr {
			th{
				background: #dddddd;
				border-bottom: none;
			}
			> td{
				vertical-align: middle;
			}
		}
	}
}
.table-responsive{
	width: 100%; 
	// overflow-x: initial !important;
}