<!doctype html>
<html>
  <head>
    <title>Construction Master StyleGuide: <%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="doc.css">
  </head>
  <body class="cm-docs">
    <div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Construction <span>Manager</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% @categories.each do |category, file_name| %>
                    <li><a href="<%= file_name %>"><%= category %></a></li>
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>
      <section class="doc-content content">
        <ul class="doc-side-nav">
          <% @blocks.each do |b| %>
            <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
        </ul>
        <div class="doc-content-main">


